.form-search{
	display: flex;
	border-radius:10px;
    padding-bottom: 30px;
    padding-top: 30px;
}
#recherche {
		border-radius: 10px 0 0 10px;
		background-color: #f5f5f5;
}
body{
	overflow-x: hidden;
}
.bodytable {
	padding: 0 20px 0 20px;
}
h1{
	text-align: center;
	padding-top: 10px;
}
#rechercher-btn {
	background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0 10px 10px 0;
}
#boutonRetour {
	border-radius:10px;
    position: fixed;  
    bottom: 20px;   
    right: 20px;      
}
#btnReserver{
	border-radius:10px;
	 padding-left: 5px;
}
.col-sm-10{
	flex-wrap: row wrap;
	align-items: center;
}


.container {
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: auto;
  }




  header {
    background-color: grey; /* Fond transparent avec une légère opacité */
    color: #fff;            /* Couleur du texte */
    padding: 0 20px 0 20px;          /* Espacement intérieur de l'en-tête */
    display: flex;          /* Utilisation de Flexbox pour la mise en page */
    justify-content: space-between; /* Espacement uniforme entre les éléments */
    align-items: center;    /* Alignement vertical au centre */
}

.logo img {
    max-width: 100px;       /* Taille maximale du logo */
}

nav ul {
    list-style-type: none;  /* Supprimer les puces de la liste */
    margin: 0;              /* Supprimer les marges extérieures de la liste */
    padding: 0;             /* Supprimer les marges intérieures de la liste */
    display: flex;          /* Utilisation de Flexbox pour les éléments de la liste */
}

nav ul li {
    margin-left: 20px;      /* Espacement entre les éléments de la liste */
}

nav a {
    text-decoration: none;  /* Supprimer les soulignements des liens */
    color: #fff;            /* Couleur du texte des liens */
}

footer {
  width: 100%;
  /*position: absolute;*/
  bottom: 0;
  background-color:grey;
  color: #fff;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.footer-text{
	    text-align: left;
}


footer p {
  margin: 0;
}
#btn-retour {
	border: none;
    background-color: white;
    display: inline-flex;
}

.btn-reserver{
	color: darkblue;
    border: none;
    background-color: transparent;
}
.footer-page{
	position: absolute;
    bottom: 0;
}
.form-formulaire{
	 overflow: hidden;
	 padding: 32px;
}
.champ{
	 margin-bottom: 10px;
}

.form-corrige {
	padding-top: 0;
}
.btn-ajouter{
	color: darkblue;
    border: none;
    background-color: transparent;
}

.btn-ajouterLivre {
	padding-left:94%;
	color: darkblue;
    border: none;
    background-color: transparent;
}
.btn-modifier{
	color: darkblue;
    border: none;
    background-color: transparent;
}
.btn-supprimer{
	color: red;
    border: none;
    background-color: transparent;
}